Repository mzjp2/kedro-dataframe-dropin: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint-src, pylint-test

isort:
  name: Sort imports
  language: system
  entry: isort

pylint-src:
  name: PyLint on ked_df/*
  language: system
  entry: pylint

pylint-test:
  name: PyLint on tests/*
  language: system
  entry: pylint --disable=missing-docstring,unused-variable

Add core code and support for modin and cuDF (#1)
  .pre-commit-config.yaml
  kedro_dataframe_dropin/__init__.py
  kedro_dataframe_dropin/core.py
  kedro_dataframe_dropin/modin.py
  kedro_dataframe_dropin/rapids.py
  pyproject.toml
Due: isort

Add lint and test github actions (#2)
  .github/workflows/main.yml
  pyproject.toml
  tests/test_kedro_dataframe_dropin.py
Due: isort, pylint-test

Add MIT license to repository (#3)
  LICENSE.md
Due: none

Add README with logo and content (#4)
  .gitignore
  Makefile
  README.md
  static/logo.png
Due: none

FIx typo in README.md to clarify RAPIDs and ExcelDataSet (#5)
  README.md
Due: none

Update pyproject.toml with relevant metadata (#6)
  pyproject.toml
Due: none

Add dask-rapids support (#7)
  .gitignore
  kedro_dataframe_dropin/core.py
  kedro_dataframe_dropin/dask_rapids.py
  poetry.lock
Due: isort

Revamp dask and dask-cuDF support (#8)
  kedro_dataframe_dropin/core.py
  kedro_dataframe_dropin/dask.py
Due: isort

Relax pandas requirement and update README (#10)
  README.md
  poetry.lock
  pyproject.toml
Due: none

Release 0.2.0 (#11)
  kedro_dataframe_dropin/__init__.py
  pyproject.toml
Due: isort

Path conditions:
  isort: any of: \.py$
  pylint-src: any of: ^ked_df and \.py$
  pylint-test: any of: ^tests and \.py$
